body {
    padding-bottom: 170px;
}

.thumb img {
  border: 3px solid #0A3142;
  border-radius: 1px;
  padding: 0px;
  width: 110px;
}

.btn-mod {
  background-color: #0A3142;
  border: 2px solid #0A3142 ;
  color: white;
  padding: 2px 14px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
  transition: initial;
}

.btn-mod:hover {
  background-color: transparent;
  color: black;
  border: 2px solid #0A3142;
}

.btn-remove {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: 0px solid #0A3142 ;
  color: #0A3142;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.close-img {
	color: #0A3142;
}

.dish-name {
	font-size: 22px;
	font-style: verdana;
	font-weight: bold;
}

.restaurant-name {
	font-size: 18px;
	font-style: verdana;
}

.price {
	font-size: 20px;
	font-style: verdana;
}

.bottom-btn {
	width: 100%;
	border-radius: 0rem;
	position: fixed;
	bottom: 0px;
	height: 70px;
}

.tramitar-btn {
	background-color: #a8bdc6;
	border-right-color: black;
	border-right-width: 1.5px;
	width: 49%;
	font-weight: bold;
	font-style: verdana;
	font-size: 22px;
}

.afegir-btn {
	background-color: #a8bdc6;
	border-left-color: black;
	border-left-width: 1.5px;
	width: 49%;
	font-weight: bold;
	font-style: verdana;
	font-size: 22px;
}

.subtotal {
	font-size: 22px;
	font-style: verdana;
	font-weight: bold;
}

.bottom-container {
	position: fixed;
	bottom: 70px;
	background-color: #D3EDF8;
}