body {
    padding-bottom: 50px;
}

.image-style {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    filter: brightness(60%);
    object-fit: cover;
}

#wrapper {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    display:flex;
}

.rest-name {
    z-index: 1;
    color: white;
    font-family: verdana;
    font-size: 25px;
    width: 100%;
    font-weight: bold;
}

/* Container holding the image and the text */
.container-img {
    position: relative;
    text-align: center;
    color: black;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Centered text */
.centered-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}