body {
    padding-bottom: 170px;
}

.thumb img {
  border: 3px solid #0A3142;
  border-radius: 1px;
  padding: 0px;
  width: 110px;
}

.bottom-btn {
	width: 100%;
	border-radius: 0rem;
	position: fixed;
	bottom: 0px;
	height: 70px;
}

.total {
	font-size: 22px;
	font-style: verdana;
	font-weight: bold;
}

.bottom-container {
	position: fixed;
	bottom: 70px;
	background-color: #D3EDF8;
}

.pagar-btn {
	background-color: #a8bdc6;
	width: 100%;
	font-weight: bold;
	font-style: verdana;
	font-size: 22px;
}

.section-title {
	font-family: verdana;
	font-size: 24px;
}

.service-name {
	font-size: 22px;
	font-style: verdana;
	font-weight: bold;
}

.price {
	font-size: 20px;
	font-style: verdana;
	text-align: right;
}