.image-style {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    filter: brightness(50%);
}

#wrapper {
    margin-top: 10%;
    display:flex;
    justify-content:space-between;
}

.item-l {
    margin-left: 5%;
    float: left;
}

.item-r {
    margin-right: 5%;
    float: right;
}

/* Container holding the image and the text */
.container-img {
    position: relative;
    text-align: center;
    color: white;
    font-family: verdana;
    font-weight: bold;
    font-size: 20px;
}

/* Centered text */
.centered-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}