.image-style {
    width: 300px;
    height: 180px;
}

/* Container holding the image and the text */
.container-img {
    position: relative;
    text-align: center;
    color: black;
}

/* Centered text */
.centered-txt {
    
    
}

#wrapper {
    margin-top: 5%;
    display:flex;
    justify-content:space-between;
}